*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# python dependencies
assets/task-receiver/package/
assets/job-splitter/package/
assets/job-api/package/
