*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# python dependencies
assets/task-receiver/
!assets/task-receiver/task.py
assets/job-splitter/
!assets/job-splitter/splitter.py
assets/job-api/
!assets/job-api/api.py

!assets/**/requirements.txt
!assets/**/README.md
